body {
    margin: 0;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    color: aliceblue;

   
    /* line-height: 1.6; */
}

*,
*:before,
*:after p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.footer__content 
{
	padding: 5px;
    margin: 30px auto 30px;
    font-size: 20px;
    font-weight: bold;


}


#quest{
    margin: 0 auto 30px;
}
/* розділ */

.section {

    padding: 80px 0;
    background: url("../images/Untitled.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section__header {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 5px;
    text-align: center;
}

.section__title {
    font-size: 28px;
    color: #173D67;
    margin: 30px auto 30px;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;

}

#head{
    font-size: 20px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 500;
    color: #523f18;
    margin: 0 auto 30px;
    font-weight: bold;
    text-transform: uppercase;

}

/* кнопки */

.button
{
     font-family: 'Pacifico', cursive;
    border: 3px solid rgba(23, 60, 103, 0);
    background-color: rgba(23, 61, 103, 0.6);
    color: #ffffff;
   /* border-radius: 10px; */

   padding: 8px 62px;
   width: 370px;
   height: 50px;
   border-radius: 32px;
   font-size: 18px;
   display: block;
   margin: 15px auto;
   cursor: pointer;
   user-select: none;
}


.button_wrong {
	background: #eb6464ac;
    border: 3px solid rgba(23, 60, 103, 0);

}

.button_correct{
	background: #5eb97c9d;
    border: 3px solid rgba(23, 60, 103, 0);
}

.button_passive{
	background: #53450b94;
    border: 3px solid rgba(23, 60, 103, 0);
}


.points{
   

    display: inline;
    align-items: center;
    justify-content: center;
    height: 100%;
   
}
.textcols {
    display: inline;
	white-space: nowrap;
    text-align: left;
    
}
